/*
This file includes certain sections of the page like header, footer, sidebar.
*/

.header {
    @include outer-container(100%);
    background:linear-gradient(rgba(255,255,255, 1), rgba(255, 255,255, 0.8)), url('https://images.unsplash.com/photo-1439390916221-371302a6218d?ixlib=rb-0.3.5&q=80&fm=jpg&w=1080&fit=max&s=c4b70d2aa458dd09e4304be40c9d5ac2');;
    background-size: cover;
    background-position: bottom;
    color: $header-color;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0 0 60px 5px rgba(0,0,0,0.1);
    &__headline {
      margin: 20px auto 35px auto;
      font-family: $secondary-font;
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      background: $headline-bg-color;
      padding: 5px;
    }
    &__logo {
      margin: 0 auto;
      width: 300px;
    }
    &__menu {
      margin: 20px auto 50px auto;
      padding: 0;
      text-transform: uppercase;
      align-items: center;
      font-size: 1rem;
    }
    &  .typcn {
      vertical-align: top;
      font-size: 20px;
      display: n
    }
    &__menu>li {
      list-style: none;
      display: inline-block;
      font-family: $secondary-font;
      margin: 0 10px;
    }
    &__subtitle {
      margin: 0 auto;
      width: 300px;
      text-align: center;
      font-size: 1rem;
    }
    & a {
      color: inherit;
    }
    &>button {
      display: block;
      width: 200px;
      padding: 15px 0;
      margin: 50px auto 0 auto;
      transition: 0.15s;
    }
    &>button:active{
      background: $gold;
    }
    &__link--github {
      margin:10px auto 0 auto;
    }
}

.builtwith {
  display: flex;
  flex-direction: column;
  @include outer-container(100%);
  padding: 100px 0;
  &__title {
    display: block;
    margin: 0 auto 0 auto;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__subtitle {
    margin: 0 auto 40px auto;
    width: 40%;
    text-align: center;
    color: #B9B9B9;
    font-size: 1.5rem;
  }
  & h2 {
    margin-bottom: 20px;
  }
  & ul {
    display: flex;
    flex-direction:row;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
    padding: 0;
  }
  & li {
    display: block;
    text-align: center;
    margin: auto;
    padding: 0px 50px;
  }
  & img {
    filter: grayscale(100%);
    transition: 0.5s;
    width: 100px;
  }
  & li:last-child>img {
    width: 50px;
  }
  & img:hover {
    filter: grayscale(0%);
  }
}

.features {
  @include outer-container(100%);
  background: $features-bg-color;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  color: white;

  &__subtitle {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 40%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    opacity: 0.75;
  }
  &__list {
  display: flex;
  @include outer-container(960px);
  flex-direction: column;
  }
  &__list li {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
  &__list li:nth-child(2n) {
    flex-direction: row-reverse;
    text-align: right;
  }
  &__list img {
    margin: 0 50px;
    vertical-align: middle;
    display: block;
  }
  & h2 {
    color: white;
    margin:auto auto 20px auto;
    font-weight: bold;
    border-color: white;
  }
  &__list h3 {
    color: white;
    margin-bottom: 25px;
    line-height: 35px;
  }
  &__list p {
    opacity: 0.5;;
    margin:auto;
  }
  &__list--right {
    display: flex;
    margin: auto;
    flex-direction: column;
  }
}

.testimonials {
  @include outer-container(100%);
  padding: 50px 0;
  &__container {
    @include outer-container(960px);
    display: flex;
    flex-direction: column;
  }
  & .bx-viewport {
    border: none;
    box-shadow: none;
    height: 100%;
  }
  & .bxslider li img {
    width: 128px;
    height: auto;

  }
  & .bxslider li {
    text-align: center;
    font-style: italic;
    font-size: 2.25rem;
    display: inline-block;
    margin-top: 35px;
    padding: 0 60px;
    height: 120%;
    display: flex;
    flex-direction: column;
  }
  &__author {
    text-align: right;
    font-size: 1.26rem;
    margin:50px 0;
  }
  &__author:before {
    content: '-'
  }
  p.testimonials__testimonial {
  line-height: 45px;
  margin: auto;
  }
  & h2 {
    margin: 25px auto;
  }
}

.team {
  @include outer-container(100%);
  display: flex;
  padding: 50px 0;
  background: $team-bg-color;
  color: white;
  &__container {
    @include outer-container(960px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  & h2 {
    margin: 20px auto;
  }
  &__subtitle {
    text-align: center;
    font-size: 1.5rem;
    margin: 25px auto;
    font-weight: 300;
    opacity: 0.75;
  }
  & ul {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  & li {
    list-style: none;
    margin: auto;
    padding: 20px 50px;
    text-align: center;
  & h3 {
    font-weight: 400;
    text-align: center;
    font-size: 1.5rem;
  }
  & p {;
    margin: 0;
    opacity: 0.5;
  }
  }
  & img {
    border-radius: 100%;
    width: 110px;
    transition: 0.25s;
  }
  & img:hover {
    transform: rotate(360deg);
  }
}

.showcase {
  @include outer-container(100%);
  display: flex;
  padding: 25px 0;
  &__container {
    @include outer-container(1060px);
    display: flex;
    flex-direction: column;
  }
  & h2 {
    margin: auto;
    text-transform: uppercase;
  }
  & p {
    text-align: center;
    margin: 25px 0;
    opacity: 0.5;
  }
  &__sites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  text-align: center;
  }
  &__sites li {
  text-align: center;
  list-style: none;
  text-align: center;
  margin-bottom: 50px;
  width: 530px;
  opacity: 0.65;
  transition: 0.6s;
  }
  &__sites img {
    box-shadow: $low-white 0 0 10px 10px;
    transition: 0.5s;
  }
  &__sites li:hover {
    opacity: 1;
  }
  &__sites h3 {
  font-size: 1.35rem;
  color: $smokegrey;
  }
}

.footer {
  display: flex;
  @include outer-container(960px);
  padding: 30px;
  &>div {
    margin: auto;
    width: 50%;
  }
  &__copyright {
    text-align: left;
  }
  &__brand--moxie {
    text-align: right;
  }
}
