// COLORS
$elephant:     #253645;
$pinkwish:     #F0648B;
$blue:         #4CABDF;
$light-blue:   #BFDFFF;
$smokegrey:    #C9CDD1;
$low-white:    #F9F9F9;
$gold:         #F2CA32;
$red:          #DC3939;

//LINK COLORS

$link-color: $pinkwish;
$link-color-hover: rgba(240,100,139,0.5);

//HEADER COLORS
$header-bg-color: $light-blue;
$header-color: $elephant;
$headline-bg-color: $gold;
$features-bg-color: $pinkwish;
$team-bg-color: $elephant;
